In [36]:
# import libraries
import re
import numpy as np
import pandas as pd

In [37]:
# import data
df1 = pd.read_csv("../data/iris/iris_sample1.csv")
df2 = pd.read_csv("../data/iris/iris_sample2.csv")

In [38]:
# concatnate df1 and df2 rows
df = pd.concat(objs=[df1, df2], ignore_index=True)
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,NaN
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.4,1.7,0.2,Iris-versicolor
6,7,5.1,3.7,1.5,0.4,NaN
7,8,4.6,3.6,1.0,0.2,Iris-versicolor
8,9,5.1,3.3,1.7,0.5,Iris-versicolor
9,10,4.8,3.4,1.9,0.2,Iris-versicolor

In [39]:
# Add a list as column
test_col = ["test1", "test2", "test3", "test4", "test5", "test6", "test7", "test8", "test9", "test10"]
df["TestColumn"] = test_col
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,TestColumn
0,1,5.1,3.5,1.4,0.2,Iris-setosa,test1
1,2,4.9,3.0,1.4,0.2,Iris-setosa,test2
2,3,4.7,3.2,1.3,0.2,Iris-setosa,test3
3,4,4.6,3.1,1.5,0.2,NaN,test4
4,5,5.0,3.6,1.4,0.2,Iris-setosa,test5
5,6,5.4,3.4,1.7,0.2,Iris-versicolor,test6
6,7,5.1,3.7,1.5,0.4,NaN,test7
7,8,4.6,3.6,1.0,0.2,Iris-versicolor,test8
8,9,5.1,3.3,1.7,0.5,Iris-versicolor,test9
9,10,4.8,3.4,1.9,0.2,Iris-versicolor,test10

In [40]:
# Drop a column
df = df.drop(["TestColumn"], axis=1)
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,NaN
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.4,1.7,0.2,Iris-versicolor
6,7,5.1,3.7,1.5,0.4,NaN
7,8,4.6,3.6,1.0,0.2,Iris-versicolor
8,9,5.1,3.3,1.7,0.5,Iris-versicolor
9,10,4.8,3.4,1.9,0.2,Iris-versicolor

In [42]:
# Drop duplicate rows
df.drop_duplicates(["Species","PetalLengthCm"])

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,NaN
5,6,5.4,3.4,1.7,0.2,Iris-versicolor
7,8,4.6,3.6,1.0,0.2,Iris-versicolor
9,10,4.8,3.4,1.9,0.2,Iris-versicolor

In [43]:
# remove null entries
df = df[df["Species"].notnull()]
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.4,1.7,0.2,Iris-versicolor
7,8,4.6,3.6,1.0,0.2,Iris-versicolor
8,9,5.1,3.3,1.7,0.5,Iris-versicolor
9,10,4.8,3.4,1.9,0.2,Iris-versicolor

In [44]:
# create dictionary with one column as key and one as value
dict_id_date = dict(zip(df.Id,df.Species))
dict_id_date

{1: 'Iris-setosa',
 2: 'Iris-setosa',
 3: 'Iris-setosa',
 5: 'Iris-setosa',
 6: 'Iris-versicolor',
 8: 'Iris-versicolor',
 9: 'Iris-versicolor',
 10: 'Iris-versicolor'}

In [45]:
# Keep rows meetig a condition using apply and a function
def check_condition(text):
    if re.search("setosa", text):
        return False
    else:
        return True

df.insert(loc=6, column='Condition', value=df.apply(lambda x: check_condition(str(x[5])), axis=1))
df.loc[df["Condition"]]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Condition
5,6,5.4,3.4,1.7,0.2,Iris-versicolor,True
7,8,4.6,3.6,1.0,0.2,Iris-versicolor,True
8,9,5.1,3.3,1.7,0.5,Iris-versicolor,True
9,10,4.8,3.4,1.9,0.2,Iris-versicolor,True

In [46]:
# Keep rows equal to condition
df[df["Species"]=="Iris-setosa"]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Condition
0,1,5.1,3.5,1.4,0.2,Iris-setosa,False
1,2,4.9,3.0,1.4,0.2,Iris-setosa,False
2,3,4.7,3.2,1.3,0.2,Iris-setosa,False
4,5,5.0,3.6,1.4,0.2,Iris-setosa,False

In [47]:
# Keep rows if column value in list and not in list
check_list = [1,2]
df[df.Id.isin(check_list)]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Condition
0,1,5.1,3.5,1.4,0.2,Iris-setosa,False
1,2,4.9,3.0,1.4,0.2,Iris-setosa,False

In [48]:
# Keep rows if not in list
check_list = [1,2]
df[~df.Id.isin(check_list)]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Condition
2,3,4.7,3.2,1.3,0.2,Iris-setosa,False
4,5,5.0,3.6,1.4,0.2,Iris-setosa,False
5,6,5.4,3.4,1.7,0.2,Iris-versicolor,True
7,8,4.6,3.6,1.0,0.2,Iris-versicolor,True
8,9,5.1,3.3,1.7,0.5,Iris-versicolor,True
9,10,4.8,3.4,1.9,0.2,Iris-versicolor,True

In [49]:
# Keep rows matching a regex or pattern
df[df["Species"].str.match(".*setosa")]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Condition
0,1,5.1,3.5,1.4,0.2,Iris-setosa,False
1,2,4.9,3.0,1.4,0.2,Iris-setosa,False
2,3,4.7,3.2,1.3,0.2,Iris-setosa,False
4,5,5.0,3.6,1.4,0.2,Iris-setosa,False

In [53]:
# Kepp rows if column contains a regex
df[df["Species"].str.contains("versicolor")]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Condition
5,6,5.4,3.4,1.7,0.2,Iris-versicolor,True
7,8,4.6,3.6,1.0,0.2,Iris-versicolor,True
8,9,5.1,3.3,1.7,0.5,Iris-versicolor,True
9,10,4.8,3.4,1.9,0.2,Iris-versicolor,True

In [50]:
# Create a new dataframe from lists
col1 = [1,2,3,4,5]
col2 = ["a","b","c","d","e"]
pd.DataFrame({"col1":col1, "col2":col2})

   col1 col2
0     1    a
1     2    b
2     3    c
3     4    d
4     5    e

In [55]:
# Put each element of a list in a column to separate rows
col = [["a","b","c"],["d","e"],"f"]
pd.DataFrame({"col":col}).apply(lambda x: pd.Series(x['col']),axis=1).stack().reset_index(level=1, drop=True)

0    a
0    b
0    c
1    d
1    e
2    f
dtype: object

In [51]:
# Save the df to file
# df.to_csv("file_name.csv")